.mpc-grid-images .mpc-item {
	padding-bottom: 30px;
}

.mpc-grid-images .mpc-grid__image {
	overflow: visible;
}

.mpc-grid-images .wpk_grid-image-title {
	position: absolute;
	top: 100%;
	left: 0;
	font-size: 12px;
}

.mfp-title {
	color: #6a6f7a;
	font-family: "Open Sans" !important;
	font-size: 12px;
	font-style: normal !important;
	font-weight: 400 !important;
	line-height: 1.6;
	text-align: left;
	text-transform: none;
}